.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: #3e3448d4;
  color: #ffffff;
  font-size: 0.8rem;
  text-align: center;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.socialLinksContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 10px;
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.socialLink {
  color: #ffffff;
  font-size: 2rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.socialLink:hover {
  color: #b5a0ff;
  transform: scale(1.1);
}
